{
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "jest-dom"
    ],
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".js", ".ts"
            ]
        },
        "import/resolver": {
            "node": {
              "extensions": [".ts"]
            }
        }
    },
    "rules": {
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/indent": [
            "off",
            "tab"
        ],
        "curly": ["error", "multi-line"],
        "no-underscore-dangle": "off"
    }
}