@import "themes.scss";

// @returns a states
@mixin themify($themes: $themes) {
	// theme names
	@each $theme-name, $theme-map in $themes {
		.theme-#{$theme-name} & {
			// state names
			@each $state-name, $state-map in $theme-map {
				.#{$state-name} & {
					$state-val: map-get($state-map, $state-name);
					$theme-states: map-merge($theme-states, $key);
					$theme-props: () !global;
					@each $prop-name, $props-val in $state-map {
						$prop-val: $props-val !global;
						$theme-props: map-merge(
							$theme-props,
							(
								$key: $prop-val
							)
						) !global;
					}

					// set content
					@content;

					// dispose
					$theme-props: null !global;
				}
			}
		}
	}
}

@function themed($key) {
	@return map-get($theme-props, $key);
}
