.t-login {
  position: absolute;
  width: 100%;
  min-height: 100vh;

  .t-login-wrapper {
      
  }

  .t-login__t-description {
    .t-description__logo {
    }
    .t-description__title {
    }
    .t-description__text {
    }
  }
}
