@import "./colors";

$input-color-normal: $color-normal;
$input-color-focus: $color-selected;
$input-color-warn: $color-warn;
$input-caret-color: $color-selected;
$input-placeholder-color-focus: $color-selected;
$input-placeholder-color-normal: rgba($color-text-main, 0.47);

@mixin t-input-to-default {
  background: 0 0;
  font: inherit;
  color: currentColor;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}
